/* line 5, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "HelveticaneuecyrLight";
  src: url(../fonts/HelveticaNeueCyr-Light.otf);
}
@font-face {
  font-family: "HelveticaneuecyrRoman";
  src: url(../fonts/HelveticaNeueCyr-Roman.otf);
}
@font-face {
  font-family: "FontawesomeWebfont";
  src: url(../fonts/fontawesome-webfont.ttf);
}
@font-face {
  font-family: "PTSerifCaption";
  src: url(../fonts/PTSerif-Caption.ttf);
}
@font-face {
  font-family: "PTSerifRegular";
  src: url(../fonts/PTSerif-Regular.ttf);
}
@font-face {
  font-family: "FontAwesome";
  src: url(../fonts/FontAwesome.otf);
}
/* line 1, ../sass/_main.scss */
html, body {
  min-width: 1240px;
}

/* line 4, ../sass/_main.scss */
.big-wrapper {
  margin: 0 auto;
  max-width: 1500px;
  min-width: 1200px;
}

/* line 9, ../sass/_main.scss */
.less-wrapper {
  margin: 0 auto;
  width: 1200px;
  overflow: hidden;
}

/* line 7, ../sass/_header.scss */
.header {
  position: relative;
  overflow: hidden;
  padding: 20px 20px 17px;
}

/* line 12, ../sass/_header.scss */
.logo {
  float: left;
}

/* line 15, ../sass/_header.scss */
.header-right {
  padding-top: 20px;
  float: right;
}

/* line 19, ../sass/_header.scss */
nav {
  float: left;
}
/* line 21, ../sass/_header.scss */
nav a {
  padding-left: 39px;
  color: #5b5f5e;
  font-family: "HelveticaneuecyrLight";
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}
/* line 29, ../sass/_header.scss */
nav a:hover {
  color: #f58220;
}
/* line 33, ../sass/_header.scss */
nav :last-child {
  margin: 0 20px 0 33px;
  padding: 12px 20px 11px 20px;
  border: 1px solid #5b5f5e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "HelveticaneuecyrLight";
  font-size: 16px;
  text-transform: uppercase;
  color: #5b5f5e;
  background: #fff;
}
/* line 45, ../sass/_header.scss */
nav :last-child:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #faa81a;
  background-image: -webkit-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: -moz-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: -o-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: -ms-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: linear-gradient(to bottom, #faa61a 0%, #f37021 100%);
}
/* line 52, ../sass/_header.scss */
nav :last-child:active {
  background-image: -webkit-linear-gradient(top, #f37021 0%, #faa61a 100%);
  background-image: -moz-linear-gradient(top, #f37021 0%, #faa61a 100%);
  background-image: -o-linear-gradient(top, #f37021 0%, #faa61a 100%);
  background-image: -ms-linear-gradient(top, #f37021 0%, #faa61a 100%);
  background-image: linear-gradient(to bottom, #f37021 0%, #faa61a 100%);
}

/* line 56, ../sass/_header.scss */
.login {
  padding-top: 3px;
  padding-left: 10px;
  float: right;
}
/* line 60, ../sass/_header.scss */
.login a {
  font-family: "HelveticaneuecyrRoman";
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #5b5f5e;
}

/* line 5, ../sass/_banner.scss */
.banner {
  position: relative;
  margin: 0 auto;
  background-color: #292929;
  background: url(../img/bg-banner.png) repeat;
}
/* line 11, ../sass/_banner.scss */
.banner-title p {
  font-family: "PTSerifCaption";
  font-size: 36px;
  color: #f58220;
  padding: 28px 0 20px 0px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 19, ../sass/_banner.scss */
.banner-title p span {
  color: #fff;
}
/* line 24, ../sass/_banner.scss */
.banner-pictures {
  position: relative;
  overflow: hidden;
}
/* line 27, ../sass/_banner.scss */
.banner-pictures .banner-img {
  position: relative;
  margin-left: 2px;
  overflow: hidden;
  float: left;
  width: 33%;
}
/* line 33, ../sass/_banner.scss */
.banner-pictures .banner-img p {
  position: absolute;
  right: 14px;
  bottom: 26px;
  padding-left: 200px;
  font-family: "PTSerifRegular";
  font-size: 21px;
  color: #fff;
  text-transform: capitalize;
  text-align: right;
}
/* line 45, ../sass/_banner.scss */
.banner-pictures .banner-img img {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
/* line 48, ../sass/_banner.scss */
.banner-pictures .banner-img img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

/* line 5, ../sass/_banner-footer.scss */
.banner-footer {
  position: relative;
  bottom: 20px;
  padding: 30px 20px 15px 20px;
  border-top: 20px solid #231f20;
  margin: 0 auto;
  background-color: #231f20;
  background: url(../img/bg-banner-footer.png) repeat;
  overflow: hidden;
}
/* line 14, ../sass/_banner-footer.scss */
.banner-footer .banner-footer-client,
.banner-footer .banner-footer-supplier {
  position: relative;
  margin: 0;
}
/* line 19, ../sass/_banner-footer.scss */
.banner-footer .banner-footer-client {
  padding-left: 83px;
  float: left;
}
/* line 22, ../sass/_banner-footer.scss */
.banner-footer .banner-footer-client .banner-footer-left {
  position: absolute;
  right: 100px;
  bottom: 83px;
  padding-top: 30px;
  width: 492px;
  height: 185px;
  background: url(../img/banner-footer-left-client.png);
  -moz-opacity: 0.9;
  opacity: 0.9;
}
/* line 33, ../sass/_banner-footer.scss */
.banner-footer .banner-footer-supplier {
  padding-right: 87px;
  float: right;
}
/* line 36, ../sass/_banner-footer.scss */
.banner-footer .banner-footer-supplier .banner-footer-right {
  position: absolute;
  left: 90px;
  bottom: 83px;
  padding-top: 30px;
  width: 492px;
  height: 185px;
  background: url(../img/banner-footer-right-supplier.png);
  -moz-opacity: 0.9;
  opacity: 0.9;
}
/* line 47, ../sass/_banner-footer.scss */
.banner-footer .banner-footer-title {
  margin: 0;
  padding: 0 0 17px 22px;
  font-family: "PTSerifCaption";
  font-size: 24px;
  color: #231f20;
  text-transform: uppercase;
  text-align: center;
}
/* line 55, ../sass/_banner-footer.scss */
.banner-footer .banner-footer-title span {
  color: #5b5e5e;
}
/* line 59, ../sass/_banner-footer.scss */
.banner-footer .banner-footer-content {
  margin: 0;
  padding: 0 71px 0 93px;
  font-family: "HelveticaneuecyrLight";
  font-size: 18px;
  color: #231f20;
  text-align: center;
  line-height: 21px;
}
/* line 68, ../sass/_banner-footer.scss */
.banner-footer .banner-footer-button {
  display: inline-block;
  margin: 27px 19px 0 129px;
  padding: 11px 0px 10px;
  border: 1px solid #fff;
  width: 250px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "HelveticaneuecyrRoman";
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: #faa81a;
  background-image: -webkit-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: -moz-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: -o-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: -ms-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: linear-gradient(to bottom, #faa61a 0%, #f37021 100%);
  text-decoration: none;
  text-align: center;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transition: 550ms;
  -moz-transition: 550ms;
  -o-transition: 550ms;
  transition: 550ms;
  -webkit-transition: ease-out;
  -moz-transition: ease-out;
  -o-transition: ease-out;
  transition: ease-out;
}
/* line 87, ../sass/_banner-footer.scss */
.banner-footer .banner-footer-button:hover {
  -webkit-transform: scale(1.11, 1.17);
  -moz-transform: scale(1.11, 1.17);
  -o-transform: scale(1.11, 1.17);
  -ms-transform: scale(1.11, 1.17);
  -webkit-transition: ease-out;
  -moz-transition: ease-out;
  -o-transition: ease-out;
  transition: ease-out;
  -webkit-transition: 550ms;
  -moz-transition: 550ms;
  -o-transition: 550ms;
  transition: 550ms;
}
/* line 92, ../sass/_banner-footer.scss */
.banner-footer .banner-footer-button:active {
  background-image: -webkit-linear-gradient(top, #f37021 0%, #faa61a 100%);
  background-image: -moz-linear-gradient(top, #f37021 0%, #faa61a 100%);
  background-image: -o-linear-gradient(top, #f37021 0%, #faa61a 100%);
  background-image: -ms-linear-gradient(top, #f37021 0%, #faa61a 100%);
  background-image: linear-gradient(to bottom, #f37021 0%, #faa61a 100%);
}

/* line 5, ../sass/_content.scss */
.content {
  position: relative;
  padding-top: 42px;
}
/* line 8, ../sass/_content.scss */
.content .content-title {
  margin: 0;
  padding: 0 155px 15px;
  font-family: "PTSerifCaption";
  font-size: 30px;
  color: #231f20;
  text-transform: uppercase;
  text-align: center;
}
/* line 16, ../sass/_content.scss */
.content .content-title span {
  color: #5b5e5e;
}
/* line 20, ../sass/_content.scss */
.content .content-annotation {
  margin-top: 20px;
  padding: 0 175px 20px;
  font-family: "HelveticaneuecyrLight";
  font-size: 18px;
  line-height: 26px;
  color: #231f20;
  text-align: center;
}
/* line 28, ../sass/_content.scss */
.content .content-annotation span {
  color: #5b5e5e;
}
/* line 32, ../sass/_content.scss */
.content .content-body {
  position: relative;
  margin: 30px 20px 20px;
  overflow: hidden;
}
/* line 36, ../sass/_content.scss */
.content .content-body .content-body-block {
  margin-bottom: 80px;
  padding-right: 20px;
  position: relative;
  float: left;
  width: 31%;
  height: 200px;
  overflow: hidden;
}
/* line 44, ../sass/_content.scss */
.content .content-body .content-body-block .content-body-block-header {
  margin-bottom: 5px;
  overflow: hidden;
}
/* line 47, ../sass/_content.scss */
.content .content-body .content-body-block .content-body-block-header a {
  display: inline-block;
  width: 110px;
  height: 110px;
  float: left;
}
/* line 53, ../sass/_content.scss */
.content .content-body .content-body-block .content-body-block-header a:hover {
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
/* line 56, ../sass/_content.scss */
.content .content-body .content-body-block .content-body-block-header span {
  display: block;
  margin: 1em 0;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 50px;
  width: 125px;
  border-left: 2px solid #adaeae;
  font-family: "PTSerifRegular";
  font-size: 24px;
  color: #231f20;
  float: left;
}
/* line 69, ../sass/_content.scss */
.content .content-body .content-body-block .content-body-block-header .content-body-block-link1 {
  background: url(../img/OneStopShop.png) no-repeat;
}
/* line 72, ../sass/_content.scss */
.content .content-body .content-body-block .content-body-block-header .content-body-block-link1:hover {
  background: url(../img/OneStopShopHover.png) no-repeat;
}
/* line 75, ../sass/_content.scss */
.content .content-body .content-body-block .content-body-block-header .content-body-block-link2 {
  background: url(../img/Quality.png) no-repeat;
}
/* line 78, ../sass/_content.scss */
.content .content-body .content-body-block .content-body-block-header .content-body-block-link2:hover {
  background: url(../img/QualityHover.png) no-repeat;
}
/* line 81, ../sass/_content.scss */
.content .content-body .content-body-block .content-body-block-header .content-body-block-link3 {
  background: url(../img/Diversity.png) no-repeat;
}
/* line 84, ../sass/_content.scss */
.content .content-body .content-body-block .content-body-block-header .content-body-block-link3:hover {
  background: url(../img/DiversityHover.png) no-repeat;
}
/* line 87, ../sass/_content.scss */
.content .content-body .content-body-block .content-body-block-header .content-body-block-link4 {
  background: url(../img/OurApproach.png) no-repeat;
}
/* line 90, ../sass/_content.scss */
.content .content-body .content-body-block .content-body-block-header .content-body-block-link4:hover {
  background: url(../img/OurApproachHover.png) no-repeat;
}
/* line 93, ../sass/_content.scss */
.content .content-body .content-body-block .content-body-block-header .content-body-block-link5 {
  background: url(../img/Compliance.png) no-repeat;
}
/* line 96, ../sass/_content.scss */
.content .content-body .content-body-block .content-body-block-header .content-body-block-link5:hover {
  background: url(../img/ComplianceHover.png) no-repeat;
}
/* line 99, ../sass/_content.scss */
.content .content-body .content-body-block .content-body-block-header .content-body-block-link6 {
  background: url(../img/Process.png) no-repeat;
}
/* line 102, ../sass/_content.scss */
.content .content-body .content-body-block .content-body-block-header .content-body-block-link6:hover {
  background: url(../img/ProcessHover.png) no-repeat;
}
/* line 107, ../sass/_content.scss */
.content .content-body .content-body-block .content-body-block-text {
  padding-right: 20px;
  font-family: "HelveticaneuecyrLight";
  font-size: 16px;
  line-height: 24px;
  color: #231f20;
  overflow: hidden;
}

/* line 5, ../sass/_contact.scss */
.contact {
  position: relative;
  margin: 70px auto 0;
  padding: 58px 0px 83px;
  background-color: #231f20;
  background: url(../img/bg-banner.png) repeat;
  overflow: hidden;
}
/* line 12, ../sass/_contact.scss */
.contact .contact-title {
  margin: 0;
  padding: 0 155px 15px;
  font-family: "PTSerifCaption";
  font-size: 30px;
  color: #adaeae;
  text-transform: uppercase;
  text-align: center;
}
/* line 21, ../sass/_contact.scss */
.contact .contact-annotation {
  margin-top: 13px;
  padding: 0 175px 20px;
  font-family: "HelveticaneuecyrLight";
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  text-align: center;
}
/* line 30, ../sass/_contact.scss */
.contact .contact-left {
  width: 49%;
  float: left;
}
/* line 33, ../sass/_contact.scss */
.contact .contact-left .address {
  margin: 0px 0px 24px;
  padding: 0px 0px;
  font-family: "HelveticaneuecyrLight";
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-transform: capitalize;
  text-align: left;
}
/* line 42, ../sass/_contact.scss */
.contact .contact-left .address p {
  font-family: "PTSerifRegular";
  text-transform: none;
  color: #adaeae;
}
/* line 48, ../sass/_contact.scss */
.contact .contact-left .contact-info {
  margin-bottom: 30px;
}
/* line 50, ../sass/_contact.scss */
.contact .contact-left .contact-info p {
  margin-bottom: 22px;
  font-family: "PTSerifRegular";
  font-size: 18px;
  line-height: 24px;
  color: #adaeae;
  text-align: left;
}
/* line 58, ../sass/_contact.scss */
.contact .contact-left .contact-info span,
.contact .contact-left .contact-info a {
  font-family: "HelveticaneuecyrLight";
  text-transform: none;
  color: #fff;
}
/* line 64, ../sass/_contact.scss */
.contact .contact-left .contact-info a:hover {
  color: #f58220;
}
/* line 68, ../sass/_contact.scss */
.contact .contact-left .contact-map {
  width: 600px;
  height: 170px;
}
/* line 73, ../sass/_contact.scss */
.contact .contact-right {
  margin: 5px 30px 0px 0px;
  float: right;
}
/* line 76, ../sass/_contact.scss */
.contact .contact-right p {
  display: block;
}
/* line 79, ../sass/_contact.scss */
.contact .contact-right #about-project {
  display: inline-block;
  margin: 0 0 11px 0;
  padding: 16px 0 16px 15px;
  width: 470px;
  height: 255px;
  max-width: 470px;
  max-height: 255px;
  font-family: "PTSerifRegular";
  font-size: 16px;
  line-height: 24px;
  color: #adaeae;
}
/* line 92, ../sass/_contact.scss */
.contact .contact-right #email {
  padding: 12px 0 12px 15px;
  box-sizing: padding-box;
  margin: 0 0 12px 0;
  width: 470px;
  font-family: "PTSerifRegular";
  font-size: 16px;
  line-height: 24px;
  color: #adaeae;
}
/* line 102, ../sass/_contact.scss */
.contact .contact-right #name {
  padding: 12px 0 12px 15px;
  box-sizing: padding-box;
  width: 470px;
  margin: 0 0 12px 0;
  font-family: "PTSerifRegular";
  font-size: 16px;
  line-height: 24px;
  color: #adaeae;
}
/* line 112, ../sass/_contact.scss */
.contact .contact-right #about-project:focus,
.contact .contact-right #email:focus,
.contact .contact-right #name:focus {
  color: #231f20;
  -webkit-box-shadow: 0px 0px 5px #fff;
  -moz-box-shadow: 0px 0px 5px #fff;
  box-shadow: 0px 0px 5px #fff;
}
/* line 118, ../sass/_contact.scss */
.contact .contact-right #submit {
  display: inline-block;
  margin: 24px 20px 0 0px;
  padding: 14px 30px;
  border: 1px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "HelveticaneuecyrLight";
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-image: none;
  background-color: transparent;
  color: #fff;
}
/* line 131, ../sass/_contact.scss */
.contact .contact-right #submit:hover {
  background-image: -webkit-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: -moz-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: -o-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: -ms-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: linear-gradient(to bottom, #faa61a 0%, #f37021 100%);
}
/* line 135, ../sass/_contact.scss */
.contact .contact-right :last-child {
  display: inline-block;
  font-family: "HelveticaneuecyrLight";
  font-size: 16px;
  color: #adaeae;
}

/* line 143, ../sass/_contact.scss */
.contact-bottom {
  padding: 103px 0 131px;
  background: url("../img/bg-contact1.png") no-repeat #000;
}
/* line 146, ../sass/_contact.scss */
.contact-bottom p {
  margin: 0 0 53px;
  padding: 0 20px 0 10px;
  font-family: "PTSerifRegular";
  font-size: 30px;
  line-height: 42px;
  color: #fff;
  text-align: center;
}
/* line 155, ../sass/_contact.scss */
.contact-bottom a.button {
  display: block;
  margin: 0 auto;
  padding: 11px 0px 10px;
  width: 250px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "HelveticaneuecyrRoman";
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: #faa81a;
  background-image: -webkit-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: -moz-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: -o-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: -ms-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: linear-gradient(to bottom, #faa61a 0%, #f37021 100%);
  text-decoration: none;
  text-align: center;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transition: 550ms;
  -moz-transition: 550ms;
  -o-transition: 550ms;
  transition: 550ms;
  -webkit-transition: ease-out;
  -moz-transition: ease-out;
  -o-transition: ease-out;
  transition: ease-out;
}
/* line 173, ../sass/_contact.scss */
.contact-bottom a.button:hover {
  -webkit-transform: scale(1.11, 1.17);
  -moz-transform: scale(1.11, 1.17);
  -o-transform: scale(1.11, 1.17);
  -ms-transform: scale(1.11, 1.17);
  -webkit-transition: ease-out;
  -moz-transition: ease-out;
  -o-transition: ease-out;
  transition: ease-out;
  -webkit-transition: 550ms;
  -moz-transition: 550ms;
  -o-transition: 550ms;
  transition: 550ms;
}
/* line 178, ../sass/_contact.scss */
.contact-bottom a.button:active {
  background-image: -webkit-linear-gradient(top, #f37021 0%, #faa61a 100%);
  background-image: -moz-linear-gradient(top, #f37021 0%, #faa61a 100%);
  background-image: -o-linear-gradient(top, #f37021 0%, #faa61a 100%);
  background-image: -ms-linear-gradient(top, #f37021 0%, #faa61a 100%);
  background-image: linear-gradient(to bottom, #f37021 0%, #faa61a 100%);
}

/* line 5, ../sass/_footer.scss */
.footer {
  padding: 63px 20px 0px;
  background-color: #5b5e5e;
  overflow: hidden;
}
/* line 9, ../sass/_footer.scss */
.footer .footer-left {
  margin: 0;
  padding: 0;
  width: 25%;
  height: 150px;
  float: left;
}
/* line 15, ../sass/_footer.scss */
.footer .footer-left .logo-footer {
  width: 100%;
  margin: 0 0 15px 0;
}
/* line 19, ../sass/_footer.scss */
.footer .footer-left p {
  margin: 0px 0px 0px;
  padding: 0px 0px;
  font-family: "HelveticaneuecyrLight";
  font-size: 14px;
  color: #adafaf;
}
/* line 27, ../sass/_footer.scss */
.footer .footer-center {
  position: relative;
  margin: 0 auto;
  padding: 40px 50px 0px;
  float: left;
}
/* line 32, ../sass/_footer.scss */
.footer .footer-center nav {
  margin: 0 auto;
}
/* line 34, ../sass/_footer.scss */
.footer .footer-center nav a {
  padding: 0px 32px 0px 0px;
  font-family: "HelveticaneuecyrLight";
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  color: #fff;
}
/* line 43, ../sass/_footer.scss */
.footer .footer-center nav a:hover {
  color: #f58220;
}
/* line 46, ../sass/_footer.scss */
.footer .footer-center nav :last-child {
  margin: 0 20px 0 33px;
  padding: 12px 20px 11px 20px;
  border: 1px solid #5b5f5e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "HelveticaneuecyrLight";
  font-size: 16px;
  text-transform: uppercase;
  color: #5b5f5e;
  background: #fff;
}
/* line 58, ../sass/_footer.scss */
.footer .footer-center nav :last-child:hover {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  background-color: #faa81a;
  background-image: -webkit-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: -moz-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: -o-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: -ms-linear-gradient(top, #faa61a 0%, #f37021 100%);
  background-image: linear-gradient(to bottom, #faa61a 0%, #f37021 100%);
}
/* line 65, ../sass/_footer.scss */
.footer .footer-center nav :last-child:active {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  background-color: #faa81a;
  background-image: -webkit-linear-gradient(top, #f37021 0%, #faa61a 100%);
  background-image: -moz-linear-gradient(top, #f37021 0%, #faa61a 100%);
  background-image: -o-linear-gradient(top, #f37021 0%, #faa61a 100%);
  background-image: -ms-linear-gradient(top, #f37021 0%, #faa61a 100%);
  background-image: linear-gradient(to bottom, #f37021 0%, #faa61a 100%);
}
/* line 73, ../sass/_footer.scss */
.footer .footer-right {
  margin: 0 20px 0 0;
  padding: 0;
  width: 300px;
  height: 150px;
  float: right;
}
/* line 79, ../sass/_footer.scss */
.footer .footer-right .footer-right-top {
  border-bottom: 1px solid #adaeae;
  margin: 0px 12px 13px 0;
  padding-bottom: 9px;
}
/* line 83, ../sass/_footer.scss */
.footer .footer-right .footer-right-top p {
  font-family: "HelveticaneuecyrLight";
  font-size: 16px;
  line-height: 18px;
  color: #adaeae;
  text-align: left;
}
/* line 90, ../sass/_footer.scss */
.footer .footer-right .footer-right-top span,
.footer .footer-right .footer-right-top a {
  text-transform: none;
  color: #fff;
}
/* line 95, ../sass/_footer.scss */
.footer .footer-right .footer-right-top a:hover {
  color: #f58220;
}
/* line 99, ../sass/_footer.scss */
.footer .footer-right .footer-right-bottom {
  position: relative;
}
/* line 101, ../sass/_footer.scss */
.footer .footer-right .footer-right-bottom p {
  width: 120px;
  font-family: "HelveticaneuecyrLight";
  font-size: 18px;
  line-height: 21px;
  color: #adaeae;
  text-align: left;
  text-transform: uppercase;
}
/* line 110, ../sass/_footer.scss */
.footer .footer-right .footer-right-bottom .facebook {
  position: absolute;
  top: -8px;
  left: 145px;
  margin: 10px 10px 15px 10px;
  padding: 0;
  display: block;
  width: 35px;
  height: 35px;
  background: transparent url("../img/sprite.png") -10px -10px no-repeat;
}
/* line 121, ../sass/_footer.scss */
.footer .footer-right .footer-right-bottom .facebook:hover {
  background: transparent url("../img/sprite.png") -55px -10px no-repeat;
}
/* line 124, ../sass/_footer.scss */
.footer .footer-right .footer-right-bottom .facebook:active {
  background: transparent url("../img/sprite.png") -100px -10px no-repeat;
}
/* line 127, ../sass/_footer.scss */
.footer .footer-right .footer-right-bottom .twitter {
  position: absolute;
  top: -8px;
  left: 204px;
  margin: 10px 10px 15px 10px;
  padding: 0;
  display: block;
  width: 35px;
  height: 35px;
  background: transparent url("../img/sprite.png") -10px -55px no-repeat;
}
/* line 138, ../sass/_footer.scss */
.footer .footer-right .footer-right-bottom .twitter:hover {
  background: transparent url("../img/sprite.png") -55px -55px no-repeat;
}
/* line 141, ../sass/_footer.scss */
.footer .footer-right .footer-right-bottom .twitter:active {
  background: transparent url("../img/sprite.png") -100px -55px no-repeat;
}
/* line 144, ../sass/_footer.scss */
.footer .footer-right .footer-right-bottom .instagram {
  position: absolute;
  top: -8px;
  left: 260px;
  margin: 10px 10px 15px 10px;
  padding: 0;
  display: block;
  width: 35px;
  height: 35px;
  background: transparent url("../img/sprite.png") -10px -100px no-repeat;
}
/* line 154, ../sass/_footer.scss */
.footer .footer-right .footer-right-bottom .instagram:hover {
  background: transparent url("../img/sprite.png") -55px -100px no-repeat;
}
/* line 157, ../sass/_footer.scss */
.footer .footer-right .footer-right-bottom .instagram:active {
  background: transparent url("../img/sprite.png") -100px -100px no-repeat;
}
