@font-face {
  font-family: "HelveticaneuecyrLight";
  src: url(../fonts/HelveticaNeueCyr-Light.otf);
}
@font-face {
  font-family: "HelveticaneuecyrRoman";
  src: url(../fonts/HelveticaNeueCyr-Roman.otf);
}
@font-face {
  font-family: "FontawesomeWebfont";
  src: url(../fonts/fontawesome-webfont.ttf);
}
@font-face {
  font-family: "PTSerifCaption";
  src: url(../fonts/PTSerif-Caption.ttf);
}
@font-face {
  font-family: "PTSerifRegular";
  src: url(../fonts/PTSerif-Regular.ttf);
}
@font-face {
  font-family: "FontAwesome";
  src: url(../fonts/FontAwesome.otf);
}